<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elements, Attributes, headings, and paragraphs</title>
</head>
<body>
    <h1>The most important</h1>
    <h2>The second most important</h2>
    <h2>The third most importatant</h2>
    <p>
        You can modify elements with attributes, some elements require attributes.
    </p>
    <a href="https://www.mchenry.edu">McHenry County College</a>
    <p>You can break up text with horizontal rule</p>
    <hr>
    <p>Formating things like poetry or ascii art can be done with the <code>pre</code> tag</p>
    <pre>
        Meri had a little lamb
        Whos fleece was white as snow
        and everywhere that Meri went
        the lamb was sure to go.

        She named him Seamus.
    </pre>
</body>
</html>